<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Salon Manager</title>
  </head>
  <body>
    <h1>Stylists</h1>
        {% if stylists is not empty %}
            <ul>
                {% for stylist in stylists %}

                        <li><a href="/stylists/{{ stylist.getId }}">{{ stylist.getName}}</a></li>
                        <form class="delete" action="/delete/{{stylist.id}}" method="post">
                            <input name="_method" type="hidden" value="delete">
                            <button class="btn form-control delete" type="submit" name="button">Delete Stylist </button>
                        </form>
                        <form class="" action="/{{stylist.id}}/edit" method="post">
                            <label for="">Name</label>
                            <input name="person" type="hidden" value="{{stylist.id}}">
                            <input class="form-control" type="text" name="name" value="{{stylist.name}}">
                            <button class="form-control btn" type="submit" name="button">Edit Stylist</button>
                       </form>
                {% endfor %}
            </ul>
        {% endif %}


                <h1> Add New Stylist </h1>
                <form action='/' method='post'>
                    <label for='stylist'>Add New Stylist:</label>
                    <input type='text' id='stylist' name='stylist'>
                    <button type='submit'>Submit</button>
                </form>


  </body>
</html>
