<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Salon Manager</title>
  </head>
  <body>
    <h1>Stylists</h1>
        {% if stylists is not empty %}
            <ul>
                {% for stylist in stylists %}

                        <li><a href="/stylist/{{ stylist.getId }}">{{ stylist.getName}}</a></li>

                        <form class="delete" action="/delete/{{stylist.id}}" method="post">
                            <input name="_method" type="hidden" value="delete">
                            <button class="form-control delete" type="submit" name="button">Delete Stylist </button>
                        </form>

                        <form class="edit" action="/{{stylist.id}}/edit" method="post">
                              <input name="stylist" type="hidden" value="{{stylist.id}}">
                              <input name="_method" type="hidden" value="patch">
                              <input class="form-control" type="hidden" name="stylist_id" value={{stylist.id}}>
                              <div><label for="">Edit Stylist Name</label>
                              <input class="form-control" type="text" name="name" value="{{stylist.name}}"></div>
                              <button class="form-control btn btn-success" type="submit" name="button">Submit Edit</button>
                        </form>
                {% endfor %}
            </ul>
        {% endif %}


                <h1> Add New Stylist </h1>
                <form action='/' method='post'>
                    <label for='stylist'>Add New Stylist:</label>
                    <input type='text' type="text" name="name" value="">
                    <button type='submit'>Submit</button>
                </form>


  </body>
</html>
