<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <title>Salon Manager</title>
    </head>
    <body>
        {% if stylist is not empty %}
            {% for object in stylist %}
              <h1> {{ stylist.getName }}</h1>
            {% endfor %}
        {% endif %}
        <h1> Clients </h1>
        {% if clients is not empty %}
            {% for client in clients %}

                    <li><a href="/clients/{{client.id}}">{{ client.name }}></li>


                <form class="delete" action="/delete/{{client.id}}" method="post">
                    <input name="_method" type="hidden" value="delete">
                    <button class="btn btn-danger form-control delete" type="submit" name="button">Delete Client</button>
                 </form>
                 <form class="" action="/{{client.id}}/edit" method="post">
                     <label for="">Edit Client</label>
                     <input name="person" type="hidden" value="{{client.id}}">
                     <input class="form-control" type="text" name="name" value="{{client.name}}">
                     <button class="form-control btn btn-success" type="submit" name="button">Submit</button>
                </form>

            {% endfor %}
        {% endif %}
        <a href "/">Home</a>
  </body>
</html>
